
<div class="row">
    <div class="col-sm-12">
        <div class="profile-bg-picture" style="background-image:url('assets/images/bg-profile.jpg')">
            <span class="picture-bg-overlay"></span><!-- overlay -->
        </div>
        <!-- meta -->
        <div class="profile-user-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="media-body">
                        <h4 class="m-t-5 m-b-5 ellipsis">{{person.name}}</h4>
                        <p class="text-muted m-b-0"><small>{{person.province}},{{person.country}}</small></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="#myModal" target="_self" data-toggle="modal" data-target="#myModal"><button type="button" class="btn btn-success waves-effect waves-light">
                            <i class="mdi mdi-account-settings-variant m-r-5"></i> Edit Profile
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
        <!--/ meta -->
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-md-4">
        <!-- Personal-Information -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Personal Information</h3>
            </div>
            <div class="panel-body">


                <div class="text-left">
                    <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">{{person.name}}</span></p>

                    <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">{{person.name}}</span></p>

                    <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">{{person.email}}</span></p>

                    <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">{{person.province}} {{person.country}}</span></p>

                </div>

            </div>
        </div>

    </div>
	
	 <!-- sample modal content -->
      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                      <h4>Update Profile</h4>
                      <hr>
                      <form ng-submit="update()">
                       <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="name">Full Name</label>
                                            <input class="form-control" type="text" id="name" ng-model="person.name" required placeholder="John Doe">
                                        </div>
                                    </div>

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="emailaddress">Email address</label>
                                            <input class="form-control" type="email" ng-model="person.email" id="emailaddress" required placeholder="john@deo.com">
                                        </div>
                                    </div>
                                    
                                     <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="homeaddress">Home address</label>
                                            <input class="form-control" type="address" ng-model="person.address" id="homeaddress" required >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="province">Province</label>
                                            <input class="form-control" type="province" ng-model="person.province" id="province" required >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="country">Country</label>
                                            <input class="form-control" type="text" ng-model="person.country" id="country" required>
                                        </div>
                                    </div>
                                    
                                     <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="zip">Zip code</label>
                                            <input class="form-control" type="text" ng-model="person.zip" id="zip" required>
                                        </div>
                                    </div>
                                    
                                     <div class="form-group row text-center m-t-10">
                                        <div class="col-12" ng-hide="isLoading">
                                            <button class="btn btn-md btn-block btn-primary waves-effect waves-light" type="submit">Update</button>
                                        </div>
                                        <div class="col-12" ng-show="isLoading">
                                            <button disabled class="btn btn-md btn-block btn-primary waves-effect waves-light" type="submit">Processing...</button>
                                        </div>
                                    </div>
                                   
                    
                  </div>
</form>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <div class="col-md-8">

        <div class="row">

            <div class="col-sm-4">
                <div class="card-box widget-box-four">
                    <div id="dashboard-1" class="widget-box-four-chart"></div>
                    <div class="wigdet-four-content pull-left">
                        <h4 class="m-t-0 font-16 m-b-5 text-overflow" title="Total Revenue">Account Balance </h4>
                        <p class="font-secondary text-muted">Jan - {{today|date}}</p>
                        <h3 class="m-b-0 m-t-20"><span></span> <span data-plugin="counterup">{{person.balance| currency}}</span></h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- end col -->

            <div class="col-sm-4">
                <div class="card-box widget-box-four">
                    <div id="dashboard-2" class="widget-box-four-chart"></div>
                    <div class="wigdet-four-content pull-left">
                        <h4 class="m-t-0 font-16 m-b-5 text-overflow" title="Total Unique Visitors">Total Deposit</h4>
                        <p class="font-secondary text-muted">Jan - {{today|date}}</p>
                        <h3 class="m-b-0 m-t-20"><span></span> <span data-plugin="counterup">{{depoSum|currency}}</span></h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- end col -->

            <div class="col-sm-4">
                <div class="card-box widget-box-four">
                    <div id="dashboard-3" class="widget-box-four-chart"></div>
                    <div class="wigdet-four-content pull-left">
                        <h4 class="m-t-0 font-16 m-b-5 text-overflow" title="Number of Transactions">Total Withdrawal</h4>
                        <p class="font-secondary text-muted">Jan - {{today|date}}</p>
                        <h3 class="m-b-0 m-t-20"><span></span> <span data-plugin="counterup">{{withSum|currency}}</span></h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Affiliate Link </h3>
            </div>
            <div class="panel-body">
                <div class="">                                  

                    <p class="text-muted font-13 m-b-0">http://www.btc-interest.com/?ref={{person.email}}
                    </p>
                </div>

                <hr>



            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">History </h3>
            </div>
            <div class="panel-body">
                <div class="">                                  

                    <table class="table m-b-0">
                        <thead>
                        <th>Earnings</th>
                        <th>Withdrawal</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Active deposit: {{person.balance}}</td>
                                <td>Pending withdrawal:  {{pendingWithdrawal|currency}}</td>
                            </tr>
                             <tr>
                                <td>Last deposit: {{person.lastDeposit|currency}}</td>
                                <td>Last withdrawal:  {{person.lastWithdrawal|currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr>



            </div>
        </div>

    </div>
    <!-- end col -->

</div>
<!-- end row -->
