

<!-- HOME -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="account-pages">

                        <div class="account-box" >
                            <div class="account-logo-box" ng-hide="notification">
                                <h2 class="text-uppercase text-center">

                                    <span><img src="assets/images/bitinterest2.png" alt="" ></span>                                            </a>
                                </h2>
                                <h5 class="text-uppercase font-bold m-b-5 m-t-50">Register</h5>
                                <p class="m-b-0">Create a secure account </p>
                            </div>

                            <div ng-show="notification" class="alert alert-success alert-dismissible show" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Well done!</strong> An email has been sent to your email box. Please, follow the enclosed instruction to activate your account.
                            </div>
                            <div id="errDiv" ng-show="err" class="alert alert-danger alert-dismissible show" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{err}}
                            </div>
                            <div class="account-content" ng-hide="notification">
                                <form class="form-horizontal" ng-submit="register()" >

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="name">Full Name</label>
                                            <input class="form-control" type="text" id="name" ng-model="person.name" required placeholder="John Doe">
                                        </div>
                                    </div>

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="emailaddress">Email address</label>
                                            <input class="form-control" type="email" ng-model="person.email" id="emailaddress" required placeholder="john@deo.com">
                                        </div>
                                    </div>
                                    
                                     <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="homeaddress">Home address</label>
                                            <input class="form-control" type="address" ng-model="person.address" id="homeaddress" required >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="province">Province</label>
                                            <input class="form-control" type="province" ng-model="person.province" id="province" required >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="country">Country</label>
                                            <input class="form-control" type="text" ng-model="person.country" id="country" required>
                                        </div>
                                    </div>
                                    
                                     <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="zip">Zip code</label>
                                            <input class="form-control" type="text" ng-model="person.zip" id="zip" required>
                                        </div>
                                    </div>

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="transCode">Define Transaction Code</label>
                                            <input  maxlength="7" minlength="4" id="transCode" class="form-control" type="text" ng-model="person.transCode"  required >
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label  for="transCode1">Retype Transaction Code</label>
                                            <input maxlength="7" minlength="4" for="transCode1" class="form-control" type="text" ng-model="transCode" required >
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="password">Password</label>
                                            <input class="form-control" ng-model="person.password" type="password" required id="password" placeholder="Enter your password">
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="password1">Password</label>
                                            <input class="form-control" ng-model="password" type="password" required id="password1" placeholder="Enter your password">
                                        </div>
                                    </div>

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="question">Security Question</label>
                                            <input id="question" class="form-control" type="text" ng-model="person.question"  required >
                                        </div>
                                    </div>

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">
                                            <label for="answer">Security Answer</label>
                                            <input id="answer" class="form-control" type="text" ng-model="person.answer"  required >
                                        </div>
                                    </div>

                                    <div class="form-group row m-b-20">
                                        <div class="col-12">

                                            <div class="checkbox checkbox-success">
                                                <input id="remember" type="checkbox" checked="" required>
                                                <label for="remember">
                                                    I accept <a href="#myModal" target="_self" data-toggle="modal" data-target="#myModal">Terms and Conditions</a>
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- sample modal content -->
                                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Terms Of Use</h4>
                                                    <hr>
                                                    <h4>Please read the following rules carefully before signing up.</h4>

                                                    <p>You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.

                                                    </p><p>BTC Invest | Your Great Bitcoin Interest Program is not available to the general public and is opened only to the qualified members of BTC Invest | Your Great Bitcoin Interest Program, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the BTC Invest | Your Great Bitcoin Interest Program and its Member.

                                                    </p><p>As a private transaction, this program is exempt from the US Securities Act of 1933, the US Securities Exchange Act of 1934 and the US Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.

                                                    </p><p>You agree that all information, communications, materials coming from BTC Invest | Your Great Bitcoin Interest Program are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation.

                                                    </p><p>All the data giving by a member to BTC Invest | Your Great Bitcoin Interest Program will be only privately used and not disclosed to any third parties. BTC Invest | Your Great Bitcoin Interest Program is not responsible or liable for any loss of data.

                                                    </p><p>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.

                                                    </p><p>We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms. 

                                                    </p><p>BTC Invest | Your Great Bitcoin Interest Program is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to BTC Invest | Your Great Bitcoin Interest Program that you will not use this site in any illegal way and you agree to respect your local, national and international laws.

                                                    </p><p>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.

                                                    </p><p>We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.

                                                    </p><p>BTC Invest | Your Great Bitcoin Interest Program reserves the right to accept or decline any member for membership without explanation.

                                                    </p><p>If you do not agree with the above disclaimer, please do not go any further.
                                                    </p>
                                                </div>

                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                    <div class="form-group row text-center m-t-10">
                                        <div class="col-12" ng-hide="isLoading">
                                            <button class="btn btn-md btn-block btn-primary waves-effect waves-light" type="submit">Sign Up Free</button>
                                        </div>
                                        <div class="col-12" ng-show="isLoading">
                                            <button disabled class="btn btn-md btn-block btn-primary waves-effect waves-light" type="submit">Processing...</button>
                                        </div>
                                    </div>
                                </form>



                                <div class="row m-t-50">
                                    <div class="col-12 text-center">
                                        <p class="text-muted">Already have an account?  <a ui-sref="login" class="text-dark m-l-5"><b>Sign In</b></a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- end card-box-->
                    </div>


                </div>
                <!-- end wrapper -->

            </div>
        </div>
    </div>
</section>
<!-- END HOME -->

