   <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="active">
                                Withdraw
                            </li>
                        </ol>
                    </div>
                    <h4 class="page-title">Withdraw</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->


       <div class="row">
                    <div class="col-md-12">

                        <div class="card-box">
                            <form ng-submit="withdraw()">
                                <h4 class="header-title m-t-0 m-b-20">Withdrawal Form</h4>

                            <p>Total balance: {{investment.userId.balance}}</p>                          

                           
                            
                             <div class="m-t-20">
                                <p>Amount</p>                               
                                <input type="number" maxlength="25" ng-model="t.amount" class="form-control" id="thresholdconfig" />
                            </div>
                            
                            <div class="m-t-20">
                                <p>BTC Address</p>                               
                                <input type="number" maxlength="25" ng-model="t.address" class="form-control" id="thresholdconfig" />
                            </div>
                            
                            <div class="m-t-20">
                                <p>Transaction code</p>                               
                                <input type="text" maxlength="25" ng-model="t.transCode" class="form-control" id="thresholdconfig" />
                            </div>
                            
                            <div class="m-t-20">
                                <p>Answer Your Secret Question</p>                               
                                <input type="text" maxlength="25" ng-model="t.answer" class="form-control" id="thresholdconfig" />
                            </div>
                            
                            <div class="m-t-20">
                                <button type="button" class="btn">Send Request</button>
                            </div>
                            
                            </form>
                            
                            
                        </div>

                    </div>

       </div>