   <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="active">
                                Withdraw
                            </li>
                        </ol>
                    </div>
                    <h4 class="page-title">Withdraw</h4>
                </div>
            </div>
            
        </div>
        <!-- end page title end breadcrumb -->


       <div class="row">
                    <div class="col-md-12">

                        <div class="card-box" ng-hide="isLoading">
                            <form ng-submit="withdraw()">
                            
                                <h4 class="header-title m-t-0 m-b-20">Withdrawal Form</h4>

                            <p>Total balance: {{bal | currency}}</p>                          

                           
                            
                             <div class="m-t-20" ng-show="monies.length>0">
                                <p>Amount</p>                               
                            	<select ng-model="tuid" class="form-control select2" required>
                            		<option ng-repeat="t in monies" value="{{t._id.$oid}}">{{t.amount+t.interest|currency}}</option>
                            	</select>
                            </div>
                             <div class="m-t-20" ng-hide="monies.length>0">
                                <p>You have no funds to withdraw.</p>                               
                            	
                            </div>
                            
                            <div class="m-t-20" ng-show="monies.length>0">
                                <p>BTC Address</p>                               
                                <input type="text" maxlength="200" ng-model="address" class="form-control" id="thresholdconfig"  required/>
                            </div>
                           
                            
                            <div class="m-t-20" ng-show="monies.length>0">
                                <button type="submit" class="btn" ng-hide="isProcessing">Send Request</button>
                            </div>
                            <div class="m-t-20">
                                <button type="submit" class="btn" disabled ng-show="isProcessing">Processing...</button>
                            </div>
                            
                            </form>
                            
                            
                        </div>
                        <div class="card-box" ng-show="isLoading">
                           
                            <h3>Loading...</h3>
                            
                        </div>

                    </div>

       </div>